// PURPLE
$purple_darker_3: #8F62CB;
$purple_darker_2: #A176D6;
$purple_darker_1: #B28ADF;
$purple: #C19DE6;
$purple_lighten_1: #CDB0EB;
$purple_lighten_2: #D7BFEF;
$purple_lighten_3: #DFCBF2;

// GREY
$grey_darker_4: #899DBC;
$grey_darker_3: #9CAEC9;
$grey_darker_2: #ADBDD4;
$grey_darker_1: #BCCADD;
$grey: #C9D5E5;
$grey_lighten_1: #D3DDEA;
$grey_lighten_2: #DBE3EE;
$grey_lighten_3: #E2E8F1;
$grey_lighten_4: #EDF1F6;
$grey_lighten_5: #F3F5F9;
$grey_lighten_6: #F6F8FA;
//$grey_lighten_6: #F9FAFC;

// DARK
$dark_darker_3: #2E3748;
$dark_darker_2: #3C465A;
$dark_darker_1: #444F64;
$dark: #4D586E;
$dark_lighten_1: #5C6984;
$dark_lighten_2: #6E7E9C;
$dark_lighten_3: #8497AF;

// GREEN
$green_darker_3: #358924;
$green_darker_2: #459C30;
$green_darker_1: #57AD3F;
$green: #6ABC50;
$green_lighten_1: #7FC960;
$green_lighten_2: #98D373;
$green_lighten_3: #ACDB8A;

// GREEN
$orange_darker_3: #E07127;
$orange_darker_2: #E78534;
$orange_darker_1: #ED9843;
$orange: #F1AA55;
$orange_lighten_1: #F3BB66;
$orange_lighten_2: #F7D392;
$orange_lighten_3: #FAE4BD;

// BLUE
$blue_darker_3: #35B0F2;
$blue_darker_2: #45BFF5;
$blue_darker_1: #57CCF8;
$blue: #6AD7FA;
$blue_lighten_1: #7FDFFB;
$blue_lighten_2: #98E5FB;
$blue_lighten_3: #ACEAFB;

// RED
$red_darker_3: #FF3838;
$red_darker_2: #FF4848;
$red_darker_1: #FF5A5A;
$red: #FF6D6D;
$red_lighten_1: #FF8282;
$red_lighten_2: #FF9B9B;
$red_lighten_3: #FFAFAF;
